body{
font-family:"Times New Roman";
}
/* -------------------------------------------------------------------------------------------------
Navigation
------------------------------------------------------------------------------------------------- */
.nav-toggle {
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;
}
.nav-toggle:focus {
    outline: none;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #C2C2C2;
    cursor: pointer;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.nav-toggle.active span {
    background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0;
}
.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}
.navicon {
    position: relative;
    height: 26px;
}
.navicon p {
    margin: 1px 50px 0 0;
}
.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}

/* -------------------------------------------------------------------------------------------------
Hero
------------------------------------------------------------------------------------------------- */
.hero {
    position: relative;
    padding: 50px 50px 0px 0px;
    min-height: 665px;
    background:url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
    color: #fff; 
}

.hero h1{
font-family:"Times New Roman";
    font-size:50px;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 36px;
    line-height: 60px;
}

#home {
    width: 100%;
    height: 100%;
}
.hero {
    width: auto;
    height: auto;
}


h3{
font-family:"Times New Roman";
	color:green;
	text-align:center;
	background-color:transparent;
}

/* -------------------------------------------------------------------------------------------------
Nav Overlay
------------------------------------------------------------------------------------------------- */
/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 



}

/* Menu style */
.overlay nav {
    position: relative;
    top: 40%;
    height: 60%;
    text-align: center;
    font-size: 54px;
    webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.overlay ul li {
    display: block;
    float: left;
    /* margin-right: 20px; */
}
.overlay ul li:last-child {
    margin-right: 0px
}
.overlay ul li i {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 15px;
}
.overlay ul li a {
    float: left;
    padding: 22px 0;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.overlay ul li a:hover, .overlay ul li a:focus {
    border-color: #73d0da;
    color: #73d0da;
}

/* Effects */
.overlay-midway {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0s, visibility 0s 0.5s;
}
.overlay-midway.open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background: rgba(1, 27, 76, 0.95);
}
.overlay-midway nav ul li {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    border-top: 1px solid rgba(255, 255, 255, 0.22);
}
.overlay-midway.open nav ul:first-child li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.overlay-midway.open nav ul:first-child li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.overlay-midway.open nav ul:nth-child(2) li:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.overlay-midway.open nav ul:nth-child(2) li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.overlay-midway.open nav ul li {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    float: left;
    display: inline-block;
    width: 100%;
    padding: 5px 50px;
}


/* -------------------------------------------------------------------------------------------------
About us
------------------------------------------------------------------------------------------------- */

.about-us{
  padding:30px;
  font-family:"Times New Roman";
}

.flex-container {
  width:100%;
  position:relative;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align:justify;
}

.flex-item-left {
  padding:15px;
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

.flex-item-right img:hover{
  opacity:0.8;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media screen and (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
    width:100%;
    font-size: 20px;
    text-align:justify;
  }


}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media screen and (max-width: 440px) {
  .flex-container {
    flex-direction: column;
    width:100%;
    font-size: 15px;
    text-align:justify;
  }


}


/* -------------------------------------------------------------------------------------------------
Slideshow Gallery
------------------------------------------------------------------------------------------------- */
/* Slideshow container */
.gallery-slideshow-container {
  max-width: 750px;;
  position: relative;
  margin: auto;

}
.gallery-slideshow-container img
{
  border-radius:25px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.gallery-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/* -------------------------------------------------------------------------------------------------
Get a Quote section
------------------------------------------------------------------------------------------------- */
.gd-quote{
  background-color:lavender;
}



.gd-quote-container {
  height: 200px;
  position: relative;
}


.gd-quote-container img {
  margin: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gd-quote-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width:440px)
{
	.gd-quote h1{
		font-align:center;
		font-size:30px;
	}

	.gd-quote img{
		width:40%;
	}
}

/* -------------------------------------------------------------------------------------------------
Client testimonial
------------------------------------------------------------------------------------------------- */

.testimonial-demo1{
    background: -webkit-linear-gradient(to left, #f99da6, #ffc371, #f99da6);
    background:  linear-gradient(to left, #f99da6, #ffc371, #f99da6);
}

.owl-carousel{
  margin-left:25%;
}
.client-testimonial{
    text-align: center;
    margin: 60px 10px 0;
    padding: 1% 10% ;
    background: #fff;
    height:400px;
}
.client-testimonial .client-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -50px;
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.client-testimonial .client-pic img{
    width: 100%;
    height: auto;
}
.client-testimonial .client-description{
    font-size: 16px;
    font-style: italic;
    color: #808080;
    line-height: 30px;
    margin: 10px 0 20px;
}
.client-testimonial .client-testimonial-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333;
    text-transform: uppercase;
}
.client-testimonial .client-post{
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.client-testimonial .post:before{
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}

.client-testimonial .testimonial-rating{
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.client-testimonial .testimonial-rating li{
    color: #d3d3d3;
    display: inline-block;
}
.client-testimonial .testimonial-rating li.fa-star{
    color: #333;
}


.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-pagination{
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
    background: #fe7f8b;
}
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border: 4px solid #fff;
}

@media screen and (max-width:990px){

.owl-carousel{
  margin-left:30%;
}
}
@media screen and (max-width:540px){

.owl-carousel{
  margin-left:0%;
}
.gd-quote h1{   font-size:25px;text-align: justify;}
}

@media screen and (max-width:440px){

.owl-carousel{
  margin-left:0%;
}
.gd-quote h1{   font-size:25px;text-align: justify;}
}

@media screen and (max-width:320px){

.owl-carousel{
  margin-left:0%;
}
#client-testimonals h1{
   font-size:30px;
}
.gd-quote h1{   font-size:20px;  text-align: justify;}
}

@media screen and (max-width:300px){

.owl-carousel{
  margin-left:0%;
}
#client-testimonals h1{
   font-size:18px;
}

.gd-quote h1{   font-size:20px;text-align: justify;}

}
